# This is a comment
# Ignore target at the top level
#/target/
# Ignore child project's targets as well
/*/target/
# And any grandchildren ...
/*/*/target/
# Or you can do:
target/
# which matches 'target' in any sub folder

*auto*.iml
*/dependency-reduced-pom.xml



# MacOS related artifact.
.idea/
.DS_Store



# Eclipse
.settings
.classpath
.project
*/.settings
*/.classpath
*/.project
/*/.settings
/*/.classpath
/*/.project
/*/bin



